// Allow the kiosk user to manage NetworkManager connections for the photo frame.
polkit.addRule(function(action, subject) {
    if (!subject.isInGroup('kiosk')) {
        return polkit.Result.NOT_HANDLED;
    }

    const allowed = [
        'org.freedesktop.NetworkManager.settings.modify.system',
        'org.freedesktop.NetworkManager.settings.modify.own',
        'org.freedesktop.NetworkManager.network-control',
        'org.freedesktop.NetworkManager.enable-disable-wifi',
        'org.freedesktop.NetworkManager.wifi.share.protected'
    ];

    if (allowed.indexOf(action.id) !== -1) {
        return polkit.Result.YES;
    }

    return polkit.Result.NOT_HANDLED;
});
