[Unit]
Description=WiFi Provisioning Web UI
After=NetworkManager.service wifi-hotspot@wlan0.service
Requires=NetworkManager.service

[Service]
Type=simple
User=root
Group=root
Environment=RUST_LOG=info
Environment=WIFI_IFNAME=wlan0
Environment=HOTSPOT_IP=192.168.4.1
ExecStart=/opt/photo-frame/bin/wifi-setter
Restart=on-failure

[Install]
WantedBy=multi-user.target
