# Managed by setup/system/modules/60-systemd.sh
[Unit]
Description=Run Photo Frame Library Sync hourly

[Timer]
OnCalendar=hourly
Persistent=true
AccuracySec=1m
Unit=photoframe-sync.service

[Install]
WantedBy=timers.target
