[Unit]
Description=Rust Photo Frame Kiosk
Wants=network-online.target seatd.service
After=network-online.target seatd.service

[Service]
Type=simple
User=@SERVICE_USER@
Group=@SERVICE_GROUP@
EnvironmentFile=-/etc/default/photo-frame
WorkingDirectory=@INSTALL_ROOT@/var
PermissionsStartOnly=yes
Environment=XDG_RUNTIME_DIR=/run/user/%U
Environment=WAYLAND_DISPLAY=wayland-0
Environment=MOZ_ENABLE_WAYLAND=1
ExecStartPre=/usr/bin/install -d -m 0700 -o @SERVICE_USER@ -g @SERVICE_GROUP@ /run/user/%U
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty
UtmpIdentifier=tty1
UtmpMode=login
ExecStart=@INSTALL_ROOT@/bin/photo-frame-kiosk
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
