[Unit]
Description=Rust Photo Frame
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=@SERVICE_USER@
Group=@SERVICE_USER@
EnvironmentFile=-/etc/default/photo-frame
WorkingDirectory=@INSTALL_ROOT@/var
ExecStart=@INSTALL_ROOT@/bin/rust-photo-frame --config @INSTALL_ROOT@/var/config.yaml
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
