[Unit]
Description=Photo Frame Wi-Fi Provisioning API
After=NetworkManager.service
Requires=NetworkManager.service

[Service]
Type=simple
User=root
Group=root
Environment=RUST_LOG=info
Environment=WIFI_IFNAME=wlan0
Environment=HOTSPOT_IP=192.168.4.1
Environment=PHOTO_FRAME_CONFIG=@INSTALL_ROOT@/var/config.yaml
ExecStart=@INSTALL_ROOT@/bin/wifi-setter
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
